html {
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 1em;
  width: 100vw;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png);
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
}

.logoAb {
  height: 6rem;
  position: fixed;
  top: 0;
  margin: 0.5em;
  border-radius: 25%;
}

.navbar {
  background-color: rgb(0, 0, 0, 0.8);
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png);
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  transition: 1.5s;
  color: white;
}

.navbar:hover {
  background-color: rgba(255, 255, 255, 0.486);
  color: black;
  transition: 1.5s;
}

.navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  margin: 0 1em;
  transition: 1.5s;
}

.nav-link:hover {
  transform: scale(1.5);
  transition: 1.5s;
}

#contact {
  background-color: rgb(0, 0, 0, 0.8);
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png);
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  transition: 1.5s;
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
}

/* .project-card {
  transition: 1.5s;
} */

/* .project-card:hover {
  transform: scale(1.05);
  transition: 1.5s;
} */

@media screen and (max-width: 1021px) {
  .logoAb {
    right: 0;
  }

  .navbar-list {
    flex-direction: column;
  }

  .nav-link {
    margin: 0.5em;
  }
}
